
.menu {
	font-family: sans-serif;
	background: yellowgreen;
	padding: 12px;;
	width: 100%;
	height: 18px;
	z-index: 100;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
}

.menu a, 
.menu h3 {
	font-size: 0.9em;
	display: block;
	margin: 0 0.5em;
	color: white;
	text-decoration: none;
}

.menu ul {
	list-style-type: none;
	height: 80px;
	width: 100%;
	margin: auto;
}

.menu li {
	float: left;
}
