

 <style>

.container {
  height: 200px;
  position: relative;
}

.vertical {
  padding-top: 30%;
  padding-bottom: 30px;
}


ul {
  list-style: none;
}

ul li {
	display: inline;
  margin-right: 20px;
}

ul li::before {
  content: "\1F79C";
  color: white;
  font-weight: normal;
  display: inline-block;
  width: 2em;
  margin-left: -1em;
}

	* {background-color: #222222}
	* {font-family: monospace}

h1.cab1 {
	font-weight: normal;
	color: #713ce4; !important
	font-size: 25px;
	text-align: center;
}

h2.cab2 {
	font-weight: bold;
	color: #713ce4;
	font-size: 15px;
	text-align: center;
}

h3.cab3 {
	font-weight: bold;
	color: #713ce4;
	font-size: 13px;
	text-align: left;
}

.sym {
	text-align: center;
	font-size: 18px;
	opacity: 0.5;
	transition: 1000ms;
	color: #B9B9B9
}

.sym:hover {
	opacity: 1;
	color: #713ce4;
}

.sym a {
	color: #ffffff;
	opacity: 1;
	text-decoration: none;
}

.sym a:hover {
	color: #713ce4
}

em {
	color: #B9B9B9
}

pre {
	color: #B9B9B9
}

p.padrao {
	color: #B9B9B9
}

p.data {
	font-size: 13px;
	text-align: right;
	color: #3C3C3C
}

.tw-wrap div {
  text-align: justify;
  position: relative;
  display: inline-block;
  padding-left: 46%;
  width: 90px;
}

/* código abaixo por Geoff Graham, css-tricks.com  */

.tw {
  color: #3C3C3C;
  overflow: hidden; 
  border-right: .65em solid #713ce4;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* scrolling effect as the typing happens */
  letter-spacing: .35em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(6, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 20% }
}

/* The tw cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #713ce4; }
}

</style>

