	
	header {
		background: #BBBBBB;
		padding: 20px 0;
	}


	.caixa {
		position: relative;
		width: 940px;
		margin: 0 auto;
	}

	nav {
		position: absolute;
		top: 110px;
		right: 0px;
	}

	nav li {
		display: inline;
		margin: 0 0 0 15px;
	}
		
	nav a {
		text-transform: uppercase;
		color: #000000;
		font-weight: bold;
		font-size: 22px;
		text-decoration: none;
	}

	nav a:hover {
		color: #C78C19;
	}

	main {
		width: 940px;
		margin: 0 auto;
	}

	form {
		margin: 40px 0;
	}

	form label, form p {
		display: block;
		font-size: 20px;
		margin: 0 0 10px;
	}

	.input-padrao {
		display: block;
		margin: 0 0 20px;
		padding: 10px 25px;
		width: 50%;
	}

	.checkbox {
		margin: 20px 0;
	}

	footer {
		text-align: center;
		background: url("imagens/bg.jpg");
		padding: 40px 0;
	}

	.copyleft {
	color: #FFFFFF;
	font-size: 13px;
	font-family: mono;
	margin-top: 20px;
	}
