	
	@font-face {
	  font-family: Komikzba;
	  src: url(komikzba.ttf);
	}



	header {
		background: #117711;
		color: #FFFFFF;
		padding: 20px 0;
	}


	.caixa {
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 18px;
	}

	nav {
		position: absolute;
		top: 2px;
		right: 0px;
	}

	nav li {
		display: inline;
		margin: 0 10px 10px 10px;
	}
		
	nav a {
		text-transform: uppercase;
		color: #E6E6E6;
		font-size: 15px;
		text-decoration: none;
		transition: 600ms;
		font-family: sans;
	}

	nav a:hover {
		color: #FFFFFF;
	}

	#cab-p {
		font-family: Komikzba;
		font-size: 35px;
		position: absolute;
		margin: -8px 10px 10px 10px;
	}

	footer {
		text-align: center;
		background: url("imagens/bg.jpg");
		padding: 40px 0;
	}

	.copyleft {
	color: #AAAAAA;
	font-size: 13px;
	font-family: mono;
	margin-top: 20px;
	}
